body {
  background: #444;
  height: 100vh;
  color: white; }

.body-wrapper {
  display: inline-flex; }

.common-elem {
  color: #96D0E0; }

.common-elem:hover {
  color: #ACEDFF; }

.new-elem {
  color: #00DD00; }

.new-elem:hover {
  color: #88F188; }

.in-progress-elem {
  color: #E3D26F; }

.in-progress-elem:hover {
  color: #FFEB7C; }

.danger-elem {
  color: #FF5A5F; }

.danger-elem:hover {
  color: #FF383E; }

.table {
  background: transparent;
  margin: 0;
  color: white; }
  .table .table-header-wrapper {
    display: flex;
    background: #555; }
    .table .table-header-wrapper .table-header {
      font-weight: bold;
      min-width: calc(100%/7);
      text-align: center;
      padding: 20px; }
  .table .table-content-wrapper {
    display: flex; }
    .table .table-content-wrapper .table-content:not(:nth-child(2)) {
      text-align: center; }
    .table .table-content-wrapper .table-content {
      min-width: calc(100%/7);
      padding: 20px; }

.menu-wrapper {
  background: #222;
  height: 100vh;
  -webkit-transition: width 2s;
  width: 70px;
  overflow-x: hidden; }
  .menu-wrapper .menu-content {
    padding: 20px;
    font-size: 1.2em;
    text-align: center; }
  .menu-wrapper .menu-item {
    padding: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 300px; }
    .menu-wrapper .menu-item .icon {
      font-size: 2em;
      margin-right: 30px; }
    .menu-wrapper .menu-item .content {
      font-size: 1.2em; }
  .menu-wrapper .menu-item:hover {
    background: #111; }

.menu-wrapper:hover {
  width: 300px; }
  .menu-wrapper:hover .menu-item .content {
    display: block; }

.dashboard-wrapper {
  width: calc(100vw - 70px); }
  .dashboard-wrapper .header {
    font-size: 1.2em;
    padding: 20px; }
  .dashboard-wrapper .content-wrapper {
    margin-left: 20px;
    margin-right: 20px; }
    .dashboard-wrapper .content-wrapper .table-wrapper {
      background: #666;
      color: white; }
