body {
  background: #444;
  height: 100vh;
  color: white; }

.body-wrapper {
  display: inline-flex; }

.common-elem {
  color: #96D0E0; }

.common-elem:hover {
  color: #ACEDFF; }

.new-elem {
  color: #00DD00; }

.new-elem:hover {
  color: #88F188; }

.in-progress-elem {
  color: #E3D26F; }

.in-progress-elem:hover {
  color: #FFEB7C; }

.danger-elem {
  color: #FF5A5F; }

.danger-elem:hover {
  color: #FF383E; }

.light-elem {
  color: #888; }

.light-elem:hover {
  color: #888; }

.dark-elem {
  color: #111; }

.dark-elem:hover {
  color: #222; }

.table {
  background: transparent;
  margin: 0;
  color: white; }
  .table .table-header-wrapper {
    display: flex;
    background: #555; }
    .table .table-header-wrapper .table-header:nth-child(2), .table .table-header-wrapper .table-header:nth-child(7) {
      cursor: default; }
    .table .table-header-wrapper .table-header {
      font-weight: bold;
      min-width: calc(100%/7);
      text-align: center;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .table .table-header-wrapper .table-header .content {
        margin: 0; }
      .table .table-header-wrapper .table-header .sort-icon {
        margin-left: 10px;
        transition: .2s all; }
      .table .table-header-wrapper .table-header .rotate {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg); }
    .table .table-header-wrapper .table-header:hover .sort-icon {
      color: #00DD00;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
    .table .table-header-wrapper .table-header:hover .sort-icon.rotate {
      color: #00DD00;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
  .table .table-content-wrapper {
    display: flex;
    border-bottom: solid 0.5px #555; }
    .table .table-content-wrapper .table-content:not(:nth-child(2)) {
      text-align: center; }
    .table .table-content-wrapper .table-content {
      min-width: calc(100%/7);
      padding: 20px; }

.menu-wrapper {
  background: #222;
  height: 100vh;
  -webkit-transition: width 0.3s;
  width: 70px;
  overflow-x: hidden; }
  .menu-wrapper .menu-content {
    padding: 20px;
    font-size: 1.2em;
    text-align: center; }
  .menu-wrapper .menu-item {
    padding: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 300px; }
    .menu-wrapper .menu-item .icon {
      font-size: 2em;
      margin-right: 30px; }
    .menu-wrapper .menu-item .content {
      font-size: 1.2em; }
  .menu-wrapper .menu-item:hover {
    background: #111; }

.menu-wrapper:hover {
  width: 300px; }
  .menu-wrapper:hover .menu-item .content {
    display: block; }

.content-zone {
  position: relative; }

.dashboard-wrapper {
  width: calc(100vw - 70px);
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 20px; }
  .dashboard-wrapper .header {
    font-size: 1.2em;
    padding: 20px; }
  .dashboard-wrapper .content-wrapper {
    margin-left: 20px;
    margin-right: 20px; }
    .dashboard-wrapper .content-wrapper .table-wrapper {
      background: #666;
      color: white; }
      .dashboard-wrapper .content-wrapper .table-wrapper .table-content-wrapper {
        cursor: pointer; }
        .dashboard-wrapper .content-wrapper .table-wrapper .table-content-wrapper .table-content:not(:nth-child(2)) {
          display: flex;
          align-items: center;
          justify-content: center; }
        .dashboard-wrapper .content-wrapper .table-wrapper .table-content-wrapper .table-content.more-info {
          color: #23CAE0; }
      .dashboard-wrapper .content-wrapper .table-wrapper .table-content-wrapper:hover {
        cursor: pointer;
        color: #07EDAF; }
        .dashboard-wrapper .content-wrapper .table-wrapper .table-content-wrapper:hover .table-content.more-info {
          color: #07EDAF; }

.overlay {
  position: absolute;
  z-index: 1;
  width: calc(100vw - 70px);
  background: rgba(0, 0, 0, 0.8);
  height: 100vh; }

.more-info-wrapper {
  position: absolute;
  width: calc(50vw - 70px);
  height: 80vh;
  background: #222;
  border-radius: 10px;
  box-shadow: 0 0px 10px 5px #111;
  z-index: 2;
  margin: auto;
  margin-top: 10vh;
  left: 0;
  right: 0; }
  .more-info-wrapper .more-info {
    padding: 20px;
    overflow-y: scroll;
    height: inherit; }
    .more-info-wrapper .more-info .header {
      font-size: 2em;
      text-align: center;
      padding: 20px; }
      .more-info-wrapper .more-info .header .status {
        font-size: 0.4em;
        margin-left: 10px; }
    .more-info-wrapper .more-info .content {
      margin-top: 10px; }
      .more-info-wrapper .more-info .content .customer {
        text-align: center; }
      .more-info-wrapper .more-info .content .order-detail-wrapper {
        margin-top: 20px; }
        .more-info-wrapper .more-info .content .order-detail-wrapper .order-detail-item {
          display: flex;
          align-items: center;
          width: 100%; }
          .more-info-wrapper .more-info .content .order-detail-wrapper .order-detail-item .property {
            width: 50%;
            font-size: 1em;
            text-align: right; }
          .more-info-wrapper .more-info .content .order-detail-wrapper .order-detail-item .value {
            width: 50%;
            margin-left: 10px;
            font-size: 1.2em; }
