div.dashboard-wrapper
  div.header
    | คำสั่งซื้อทั้งหมด
  div.content-wrapper
    div.table-wrapper
      div.table
        div.table-header-wrapper
          div.table-header
            | หมายเลขออเดอร์
          div.table-header
            | ลูกค้า
          div.table-header
            | สิ่งพิมพ์
          div.table-header
            | จำนวน
          div.table-header
            | วันที่จัดส่ง
          div.table-header
            | สถานะ
          div.table-header
            | ข้อมูลเพิ่มเติม
        div.table-content-wrapper
          div.table-content
            | 1
          div.table-content
            | เอม
          div.table-content
            | นามบัตร
          div.table-content
            | 100 ชิ้น
          div.table-content
            | 23 พ.ย.
          div.table-content
            | รอคอนเฟิร์มออเดอร์
          div.table-content
            | 1
