div.dashboard-wrapper(ng-controller="DashboardCtrl")
  div.header
    | คำสั่งซื้อทั้งหมด
  div.content-wrapper
    div.table-wrapper
      div.table
        div.table-header-wrapper
          div.table-header
            | หมายเลขออเดอร์
          div.table-header
            | ลูกค้า
          div.table-header
            | สิ่งพิมพ์
          div.table-header
            | จำนวน
          div.table-header
            | วันที่จัดส่ง
          div.table-header
            | สถานะ
          div.table-header
            | ข้อมูลเพิ่มเติม
        div.table-content-wrapper(ng-repeat="order in orders")
          div.table-content
            | {{order.id}}
          div.table-content.customer
            div.name
              | {{order.customer.name}}
            div.phone
              | {{order.customer.phone}}
            div.email
              | {{order.customer.email}}
          div.table-content
            | {{order.detail.product.name}}
          div.table-content
            | {{order.detail.quantity}}
          div.table-content
            | {{order.detail.deliveryDate}}
          div.table-content.new-elem(ng-if="order.detail.status == orderStatus.waiting")
            | {{order.detail.status}}
          div.table-content.in-progress-elem(ng-if="order.detail.status == orderStatus.confirm")
            | {{order.detail.status}}
          div.table-content.dark-elem(ng-if="order.detail.status == orderStatus.done")
            | {{order.detail.status}}
          div.table-content.more-info
              div.icon
                i.fa.fa-file-o
