div.menu-wrapper
  div.menu-item(ng-click="loadOrder(1)")
    div.icon.common-elem
      i.fa.fa-bars
    div.content
      | ทั้งหมด
  div.menu-item(ng-click="loadOrder(2)")
    div.icon.new-elem
      i.fa.fa-clone
    div.content
      | รอคอนเฟิร์ม
  div.menu-item(ng-click="loadOrder(3)")
    div.icon.in-progress-elem
      i.fa.fa-tasks
    div.content
      | อยู่ในระหว่างดำเนินการ
  div.menu-item(ng-click="loadOrder(4)")
    div.icon.light-elem
      i.fa.fa-archive
    div.content
      | เสร็จสิ้นแล้ว
