doctype html
html(ng-app='app')
head
    link(rel='stylesheet', href='/assets/css/font-awesome.css')
    link(rel='stylesheet', href='/assets/css/bulma.css')
    link(rel='stylesheet', href='/assets/css/main.css')
  body
    //Angular
    script(src='/assets/js/angular.min.js')
    script(src='/assets/js/angular-route.min.js')

    // App Modules
    script(src='/assets/js/app.js')

    // Factory
    script(src='/assets/js/controllers/order-factory.js')

    // Service
    script(src='/assets/js/controllers/order-service.js')

    // Controller
    script(src='/assets/js/controllers/index.js')

    // graph
    div(ng-view='')

