//color
$super-super-dark-grey: #111;
$super-dark-grey: #222;
$darker-grey: #444;
$dark-grey: #555;
$grey: #666;
$light-grey: #888;
$super-light-grey: #888;
$text-color: white;
$emerald: #4BC6C0;
$base-green: #00DD00;
$base-green-hover: #88F188;
$red: #FF5A5F;
$red-hover: #FF383E;
$yellow: #E3D26F;
$yellow-hover: #FFEB7C;
$blue: #96D0E0;
$blue-hover: #ACEDFF;
$link: #23CAE0;
$link-hover: #07EDAF;

body
  background: $darker-grey;
  height: 100vh;
  color: white;

.body-wrapper
  display: inline-flex;

.common-elem
  color: $blue;
.common-elem:hover
  color: $blue-hover;
.new-elem
  color: $base-green;
.new-elem:hover
  color: $base-green-hover;
.in-progress-elem
  color: $yellow;
.in-progress-elem:hover
  color: $yellow-hover;
.danger-elem
  color: $red;
.danger-elem:hover
  color: $red-hover;
.light-elem
  color: $light-grey;
.light-elem:hover
  color: $super-light-grey;
.dark-elem
  color: $super-super-dark-grey;
.dark-elem:hover
  color: $super-dark-grey;

.table
  background: transparent;
  margin: 0;
  color: white;
  .table-header-wrapper
    display: flex;
    background: $dark-grey;
    .table-header:nth-child(2), .table-header:nth-child(7)
      cursor: default;
    .table-header
      font-weight: bold;
      min-width: calc(100%/7);
      text-align: center;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .content
        margin: 0;
      .sort-icon
        margin-left: 10px;
        transition: .2s all;
      .rotate
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    .table-header:hover
      .sort-icon
        color: $base-green;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      .sort-icon.rotate
        color: $base-green;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
  .table-content-wrapper
    display: flex;
    border-bottom: solid 0.5px $dark-grey;
    .table-content:not(:nth-child(2))
      text-align: center;
    .table-content
      min-width: calc(100%/7);
      padding: 20px;

.menu-wrapper
  background: $super-dark-grey;
  height: 100vh;
  -webkit-transition: width 0.3s;
  width: 70px;
  overflow-x: hidden;
  .menu-content
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
  .menu-item
    padding: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 300px;
    .icon
      font-size: 2em;
      margin-right: 30px;
    .content
      font-size: 1.2em;
  .menu-item:hover
    background: $super-super-dark-grey;
.menu-wrapper:hover
  width: 300px;
  .menu-item
    .content
      display: block;
.content-zone
  position: relative;
.dashboard-wrapper
  width: calc(100vw - 70px);
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 20px;
  .header
    font-size: 1.2em;
    padding: 20px;
  .content-wrapper
    margin-left: 20px;
    margin-right: 20px;
    .table-wrapper
      background: $grey;
      color: white;
      .table-content-wrapper
        cursor: pointer;
        .table-content:not(:nth-child(2))
          display: flex;
          align-items: center;
          justify-content: center;
        .table-content.more-info
          color: $link;
      .table-content-wrapper:hover
        cursor: pointer;
        color: $link-hover;
        .table-content.more-info
          color: $link-hover;

.overlay
  position: absolute;
  z-index: 1;
  width: calc(100vw - 70px);
  background: rgba(0,0,0,0.8);
  height: 100vh;
.more-info-wrapper
  position: absolute;
  width: calc(50vw - 70px);
  height: 80vh;
  background: $super-dark-grey;
  border-radius: 10px;
  box-shadow: 0 0px 10px 5px $super-super-dark-grey;
  z-index: 2;
  margin: auto;
  margin-top: 10vh;
  left: 0;
  right: 0;
  .more-info
    padding: 20px;
    overflow-y: scroll;
    height: inherit;
    .header
      font-size: 2em;
      text-align: center;
      padding: 20px;
      .status
        font-size: 0.4em;
        margin-left: 10px;
    .content
      margin-top: 10px;
      .customer
        text-align: center;
      .order-detail-wrapper
        margin-top: 20px;
        .order-detail-item
          display: flex;
          align-items: center;
          width: 100%;
          .property
            width: 50%;
            font-size: 1em;
            text-align: right;
          .value
            width: 50%;
            margin-left: 10px;
            font-size: 1.2em;

